@model WebApp.Views.Home.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h2 class="mb-4">@ViewData["Title"]</h2>
                <p class="lead">Welcome to the Car Rental Service implemented in ASP.NET!</p>

                <form asp-controller="Home" asp-action="GoToCarIndex" method="post" class="mb-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-equal">Car Review and Rent</button>
                </form>

                <form asp-controller="Home" asp-action="GoToRentals" method="post">
                    <button type="submit" class="btn btn-primary btn-lg btn-equal">Rentals Overview</button>
                </form>
                <br/>
                <form asp-controller="Home" asp-action="GoToCustomers" method="post">
                    <button type="submit" class="btn btn-primary btn-lg btn-equal">Customers</button>
                </form>
            </div>
        </div>
    </div>
</div>